<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Yuri Failer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="shortcut icon" href="favicon.png" /> 
  <link rel="stylesheet" href="css/main.css" />
  <!-- Foundation (main.css include foundation grid) -->
  <script src="js/vendor/modernizr.js"></script>
</head>
    <body>
          {{ content }}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
    </body>

</html>
